mixin connection()
    section.connection
        .container
            h2.visually-hidden Приєднуйся!
            .connection-content
                p.connection-text Маючи багаторічний досвід у сфері туризму та глибоке розуміння ринку, ми створили сервіс, який поєднує експертизу, зручність і ефективність — щоб ваша співпраця з нами була максимально зручною, а прибуток стабільно зростав
                .connection-action
                    h3.title.title--connection Отримайте усі переваги
                    +btn({text: "Доєднатись", href: "#", isExternal: true}).btn.btn--connection
