mixin model-sidebar()
    -
        const dataSidebar = [
            { text: "Вступний внесок" },

            { text: "Брендування офісу (офлайн)" },
            {
                text:  "Брендування офісу (онлайн)"
            },
            {
                text: "Вимоги до офiсу"
            },
            {
                text: "Захист території"
            },
            {
                text: "Підключення доступів до всіх туроператорів"
            },
            {
                text: "Доступ на біржу"
            },
            {
                text: "Вступний бонус на біржу"
            },
            {
                text: "Розміщення на tat.ua"
            },
            {
                text: "Вступний бонус на tat.ua"
            },
            {
                text: "Розміщення в розділі “Де купити” на tat.ua"
            },
            {
                text: "Таргетолог"
            },
            {
                text: "Навчання"
            },
            {
                text: "Контент"
            },
            {
                text: "Фінансування реклами"
            },
            {
                text: "Пріоритет обробки заявок"
            },
            {
                text: "План продажів"
            }, {
                text: "Агентська комісія"
            },
            {
                text: "Мережеві рекламні тури"
            },

        ]
    .model-sidebar
        h2.visually-hidden Категорії
        ul.model-sidebar-list
            each item in dataSidebar
                li.model-sidebar-item= item.text
