.benefits{
  padding:96px 0 112px 0;
  .container{
display: flex;
    flex-direction: column;
    row-gap:calc(32px + (80 - 32) * ((100vw - 375px) / (1512 - 375)));
  }
  .benefits-list{
    margin:0;
    padding:0;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc(24px + (60 - 24) * ((100vw - 375px) / (1512 - 375))) calc(24px + (101 - 24) * ((100vw - 375px) / (1512 - 375)));
  }
  .benefits-item{
    width:calc(150px + (212 - 150) * ((100vw - 375px) / (1512 - 375)));
    height:90px;
img{
  width:100%;
  height:100%;
  object-fit:contain;
}
  }
}
