.card {
  .card-header-title{
    display: block;
    @include  vp-1023{
      display: none;
    }
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  p{
    margin: 0;
  }
  .card-element {
    background: white;
  }

  .card-partner,
  .card-friend,
  .card-family {
    padding: 20px;
    font-family: "ProximaNova-Semibold";
    font-weight: 600;
    font-size: 17px;

    line-height: 135%;
    letter-spacing: 0;
    text-align: center;

    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    //row-gap: 32px;
    //justify-content: space-between;
    border-radius: 16px;
li{
  padding:44px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid gray;
  &:last-child{border-bottom: none}
}
  }

  .card-header {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    background: $color-gray;
  }

  .card-header-title {
    padding: 5px 16px;
    background: $color-yellow;
    border-radius: 16px;
  }
  .card-branding-offline{
    height: 100%;
    max-height: 100px;
  }
  li.card-connection-tour {
    padding: 55px 0 24px 0;
    position: relative;
&:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 45%;
  transform: translateX(-50%);
  width: 17px;
  height: 17px;
  background: url("../../img/sprite/icon-tik.svg") no-repeat;
background-size: cover;
}
  }
  li.card-landing{
display: flex;
    flex-direction: column;
    row-gap: 10px;
height:144px;

  }

  .card-market{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 144px;
  }
  .card-content{
    height:144px;
  }
  .card-study{
    min-height: 199px;
    padding-bottom: 10px;
  }
  li.card-ad{
    height: 144px;
  }
  li.card-priority{
    border-bottom: none;
    height: 144px;
  }

  li.card-trading-plan{
    display: flex; background: $-color-dark-gray;
    border-bottom: none;
    flex-direction: column;
    max-height: 336px;
    border-radius: 15px;
    row-gap: 44px;

  .trading-plan{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }
  .comission{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }
  .ads-list{
    display: flex;
    flex-direction: row;
  }
}}


