.connection {
  padding: 96px 0 112px 0;


  .container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .connection-text {
    font-family: ProximaNova-Semibold;
    font-weight: 600;

    font-size: calc(17px + (24 - 17) * ((100vw - 375px) / (1512 - 375)));

    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;


    width: 100%;
    max-width: 1152px;
  }

  .connection-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 80px;
    align-items: center;
  }

  .connection-action {
    padding: calc(48px + (86 - 48) * ((100vw - 375px) / (1512 - 375))) calc(14px + (250 - 14) * ((100vw - 375px) / (1512 - 375))) calc(6px + (62 - 26) * ((100vw - 375px) / (1512 - 375)));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 56px;
    background: url(../../img/bg/bg-connection.svg) center no-repeat;
    background-size: cover;

    font-size: 24px;
@include vp-1023{
  padding: 48px 14px 26px;
}
  }
}
