.contacts {
  background: $color-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  .container{
  display: flex;
    flex-direction: column;
    align-items: center;
}
}

.contacts-list{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  .contacts-item{
    p{
      margin: 0;
      font-size: 24px;
      font-weight: 700;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    .contacts-img {
      width: 128px;
      height: 128px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .item-social{
    display: flex;
    justify-content: space-between;
    gap:16px;
  }
  .item-social-telegram,
  .item-social-mail{
    display: flex;
    flex-direction: column;
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:15px;
    }
  }
}
