.office-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  list-style: none;
gap: 10px;
  .office-content-item {
    &:nth-child(4) {
      grid-column: 1/2;
      grid-row: 2/4;
    }
    &:nth-child(5) {
      grid-column: 2/3;
      grid-row: 2/4;
    }
&:nth-child(6) {
  grid-column: 3/4;
  grid-row: 2/3;
}
    &:last-child {
      grid-column: 3/4;
      grid-row: 3/4;
    }
    img{
      width:100%;
      height:100%;
      object-fit: cover;
    }
  }
}
