.statistic{
  padding: 96px 0 112px 0;
  .container {
    display: flex;
    flex-direction: column;
row-gap: 30px;
    align-items: center;
  }
  .statistic-list{
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    flex-wrap:wrap;
    padding: 0;
    row-gap: 48px;
    column-gap: 15px;
    justify-content: space-between;
    @include vp-1023{
     justify-content: center;
    }
    .statistic-item{
      display: flex;
      flex-direction: column;
      font-weight: bold;
      white-space: nowrap;
      font-family:"ProximaNova-Bold" ;
      row-gap: 24px;
      align-items: center;
      span{font-size:calc(48px + (64 - 48) * ((100vw - 320px) / (1512 - 320)));}
    }
    .statistic-item-text{
      font-weight:500;
      line-height: 135%;
      font-family: "ProximaNova-Medium";
    }
  }
  .statistics-action{
    padding: calc(48px + (86 - 48) * ((100vw - 375px) / (1512 - 375))) calc(14px + (250 - 14) * ((100vw - 375px) / (1512 - 375))) calc(6px + (62 - 26) * ((100vw - 375px) / (1512 - 375)));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 56px;
    background: url(../../img/bg/bg-connection.svg) center no-repeat;
    background-size: cover;

    font-size: 24px;
    @include vp-1023{
      padding: 48px 12px 26px;
      text-align: center;
    }

  }
}
